<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/test" method="POST">
        <input type="range" id="number67" name="number67" value={{val}} onclick="form.submit();" {{dd}}>
        <button type="submit" id="number7" name="number7" value=1490>jaja</button><br>
    </form>
    <p>abc = {{abc}}</p>
    <p>value of slider = {{val}}</p>
</body>
</html>