{% extends "layout.html" %}
{% block content %}

<div class="container" style="width: 100vw; height: 80vh;">
    <div class="row">
        <div class="col-6">
                <div class="container">
                    <h2>Speed vs Torque with V= {{V}} Vots,C={{f}} Hertz</h2>
                    <form method=get action="/dcM1/dcm01">
                      <input name="num_v_points" type=number value="{{V}}" />
                      <input name="num_f_points" type=number value="{{f}}" />
                      <input type=submit value="update graph">
                    </form>
                    <div class="container">
                        <img src="/matploteMes01-{{V}},{{f}}.svg"
                        alt="random points as svg"
                        height="600"
                   >
                    </div>
                </div>
        </div>
    </div>
</div>


{% endblock %}